input[type='text'],
select {
    border-width:1px!important;
}
.input-group-append .btn {
    border:solid 1px #b8bfc4!important;
    border-left:none!important
}
.input-group-append .btn:hover {
    background-color:#00aeff;
    border-color:#00aeff!important;
}

.btn-facebook {
    background-color:#3b5998;
    color:#fff;
    font-weight:300;
}
.btn-twitter {
    background-color:#1dcaff;
    color:#fff;
    font-weight:300;
}
.btn-instagram {
    background-color:#c13584;
    color:#fff;
    font-weight:300;
}
.btn-social {
    transition:opacity 250ms ease;
}
.btn-social:hover {
    opacity:.85;
}